## python ka chla with baba_ammar
### how to use note book
#### basics of python
#### 01 -My first program

In [1]:
print(3+3)
print("hellow world")

---

#### 02 operator

In [2]:
print(2+3)
print(2-3)
print(6/3)
print(4*3)
print(13%3)

5
-1
2.0
12
1

In [3]:
print(6//2) ##for the gainig whole number

3

In [4]:
print(2**4) ## for the power

16

In [5]:
print((8+5)+2*4/9+4+9**2) ## PEMDAS

98.88888888888889

---

#### 03 -strings

In [6]:
print("test for single quotes")
print('test for double quotes')
print('''test for triple quotes''')

test for single quotes
test for double quotes
test for triple quotes

In [7]:
print("whats's up")

whats's up

---

#### 04 -commnet in python
the shortcut key of comment is **(clrt+/)**

In [8]:
print("ali fatmi")
# print ("we are learing python") how to write the comment (clrt+/)
print(2+9)

ali fatmi
11

#### 05-variables

In [9]:
x = 3
print(x) ## for the integer


y= "we are learning python" ## for the string
print(y)

x=x+3
print(x)

3
we are learning python
6

In [10]:
type(x) # type of variable
print(type(x))

<class 'int'>

In [11]:
fruit_basket ="mangoes,oranges"
print(fruit_basket)

mangoes,oranges

In [12]:
print(type(fruit_basket))

<class 'str'>

In [13]:
fruit_basket = 6
print(type(fruit_basket))

<class 'int'>

---

#### 06-input variables

In [14]:
basket = input("what is favort clour")
print(basket)

what is favort clourgreen
green

In [15]:
## input 2 stage
name = input("what is name")
greeting ="hellow"

what is nameali

In [16]:
print(greeting,name)

hellow ali

In [17]:
# another stage
name = input("what is name")
print("helow",name)

what is namefatmi
helow fatmi

In [18]:
name = input("what is your name ?")
age = input("how old are u")
greetings ="hellow"

what is your name ?ali fatmi
how old are u12

In [19]:
print(greetings,name," ,you are still younge") # another way to use

hellow ali fatmi  ,you are still younge

---

#### 07-conditional logical operator

In [20]:
print(4==4)
print(3!=3)
print(3<4)
print(4>5)
print(3<=4)
print(4>=5)

True
False
True
False
True
False

In [21]:
aliage = 5
schoolage = 6
print(aliage==schoolage)

False

In [22]:
ageschool = 5
x = input("enter age") #input operator
x =int(x)
print(ageschool==x) # logical function

enter age4
False

---

#### 08-type_conversion

In [23]:
x = 10
y =10.8
z= "hellow"
x= x*y ## implict conversinon
print(type(x))

<class 'float'>

In [24]:
age = input("what is your age")

what is your age6

In [25]:
type(age)

str

In [27]:
# explicit conversion
age = input("what is your age")
print(age , type(int(age))) # convert to int

what is your age5
5 <class 'int'>

In [28]:
name = input("name")
print(name , type(str(name))) # convet to str

nameali
ali <class 'str'>

---

#### 09-if else elif`

In [29]:
school_age=5
age = 2
if age==school_age:
    print("i can go school")
elif(age>school_age):
    print("should go high school") 
elif(2<=age):
    print("should care") 
else :
    print("can not go")

should care

---

#### 10-functions

In [30]:
print("my name is fatmi")
print("my name is fatmi")
print("my name is fatmi")
print("my name is fatmi")

my name is fatmi
my name is fatmi
my name is fatmi
my name is fatmi

In [31]:
def print_fun():  # first method
    print("my name is fatmi")
    print("my name is fatmi")
    print("my name is fatmi")
print_fun()

my name is fatmi
my name is fatmi
my name is fatmi

In [32]:
def print_fun(): # second mehtod
    text="my name is fatmi"
    print(text)
    print(text)
print_fun()

my name is fatmi
my name is fatmi

In [33]:
def print_fun(text): #  3 mehtod
    print(text)
    print(text)
print_fun("hellow world")

hellow world
hellow world

In [34]:
## defing the function with if else function
def school_cal(age):
    if age==5:
        print("yes can go school")
    elif(age>5):
        print("should go high school") 
    else :
        print("can not go")
school_cal(6)

should go high school

In [35]:
# Defining the future age
def future_age(age):
    new=age+20
    return new
pridected=future_age(20)
print(pridected)

40

#### 11-loops

In [36]:
#while loops
x=0
while (x<5):
    print(x)
    x=x+1

0
1
2
3
4

In [37]:
#for loops
for x in range(5,10):
    print(x)

5
6
7
8
9

In [38]:
#arry 
days =["monday","tuseday","wednesdy","thu","fri","sat","sun"]
for d in days:
    if (d== "fri"):break ## using break statement
        
    print(d)

monday
tuseday
wednesdy
thu

In [39]:
days =["monday","tuseday","wednesdy","thu","fri","sat","sun"]
for d in days:
    if (d== "fri"):continue # whith continue which skip the fri
        
    print(d)

monday
tuseday
wednesdy
thu
sat
sun

---

#### 12-import libaries

In [40]:
import math
print("value of pi is",math.pi
     )

value of pi is 3.141592653589793

In [41]:
import statistics
x=[1,3,6,2,4,4]
print(statistics.mean(x))

3.3333333333333335

---

#### 13-troubleshooting

In [42]:
print('we are learning python')
# print(we are learning python)## santax error

we are learning python

In [43]:
print(24/0) # runtime error

ZeroDivisionError: division by zero

In [44]:
name ="ali" # smentic error
print("hellow name")
print("hellow",name) # with spacing
print("hellow"+name)# without spacing

hellow name
hellow ali
hellowali