## indexing

In [ ]:
x = "apple juice" ## write a string

In [ ]:
x

In [ ]:
x[3]

In [ ]:
len(x) ## finding the lenght of string`

In [ ]:
x[12] ## see the error arrise becoz indexing start form x[0]

In [ ]:
x[5]

In [ ]:
x[0]

In [ ]:
##if take the one whole word in the string but full form not show bocoz last one exclude
x[0:4]
## false method of doing the code x[0to5]

In [ ]:
x[0:5] ## correct method of show the word

In [ ]:
## printing the value form the - side
x[-6:-1] ## half printing

In [ ]:
x[-6:12] ## correct method

## string methods

In [ ]:
food = "biryani"

In [ ]:
len(food)

In [ ]:
food.capitalize()

In [ ]:
food.upper()

In [ ]:
food.lower()

In [ ]:
food.replace("b","sh")## replace the letter to new one

In [ ]:
## counting the specific letter
name = "baba ammar dr tufail"

In [ ]:
name.count("a")

## finding index number

In [ ]:
name = "baba ammar dr tufail"

In [ ]:
name.find('m')

In [ ]:
## split the string
khana = "roti a chawal a pani a pepsi "
khana

In [ ]:
khana.split("a" ) ## it is spliting on the a

---

# tuple
- orderd collection 
- enclose()
- different element store
- unmutable

In [ ]:
tup = (1,3,"adc")
tp =(9,"dd",2)
tp+tup

### indexing

In [ ]:
tp[1]

In [ ]:
tp[0:3]

In [ ]:
len(tp)

In [ ]:
type(tp)

### multiply the tuple add them

In [ ]:
tp*2+tup

In [ ]:
tp.count("dd")

In [ ]:
(tp+tup)*3

In [ ]:
tp2=(12,3,4,224,5,5,2,3)

In [ ]:
min(tp2)## show the min values

In [ ]:
max(tp2)## higest values

## list
- orded collection
- enclosed []
- mutatable

In [ ]:
list=[1,2,"apple"]
list

In [ ]:
len(list)

In [ ]:
list[1]## accesing by the index

## functions in list

In [ ]:
list.append('ok') ## adding something in list
list

In [ ]:
list.count('ok') ## checking the thing how many time append

In [ ]:
list

In [ ]:
x=list.copy() ## copy the list into new list

In [ ]:
x

In [ ]:
list.extend('apple') ## itrate the string in the characters

In [ ]:
list

In [ ]:
list.insert(3,"new thing")## insert the new in specific index

In [ ]:
list

In [ ]:
list.pop() ## remove the last element in the list and print on tab

In [ ]:
list.remove("new thing") ## put the name of which u remove

In [ ]:
list

In [ ]:
list.reverse() reverse the order

In [ ]:
list

In [ ]:
list.sort() ## only work for the homogeniuos data not hetro

In [ ]:
l = [2,4,4,532,3,5,2]

In [ ]:
l

In [ ]:
l.sort()## now sort in the orderr

In [ ]:
l

In [ ]:
list.clear()  ##clear every thing
list

---

## dictonary
- key value pair
- {}
- mutatable

In [49]:
dic1 ={"kela":40,"saib":60,12:90}
dic1

{'kela': 40, 'saib': 60, 12: 90}

## fuctions

In [50]:
#keys
dic1.keys()

dict_keys(['kela', 'saib', 12])

In [51]:
dic1.values() ## provide values

dict_values([40, 60, 90])

In [52]:
## return values given key
dic1.get(12)

90

In [53]:
dic1.popitem() ## delet last item

(12, 90)

In [54]:
dic1.pop("kela") ## by giving the key delete both key value pairs

40

In [55]:
a=dic1.fromkeys('kela',1) ## break into new dictionaery
a

{'k': 1, 'e': 1, 'l': 1, 'a': 1}

In [56]:
dic1.update({67:99})## puting new value

In [57]:
dic1.items() ## both pair

dict_items([('saib', 60), (67, 99)])

In [62]:
dic1.setdefault(112)## set the default value is none u not give it
dic1

{'saib': 60, 67: 99, 112: None}

In [63]:
newdic=dic1.copy() ## copy to new

In [64]:
newdic

{'saib': 60, 67: 99, 112: None}

## concatinate 2 dictionaries

In [69]:
a={"ab":2,"cd":5,"fr":9}
b={"apple":49,"charry":70,"orange":90}

In [71]:
a.update(b)
a

{'ab': 2, 'cd': 5, 'fr': 9, 'apple': 49, 'charry': 70, 'orange': 90}

---

## sets
- unorder un index
- use in {}
- no duplicates
- no key value

In [68]:
s={1,889,"ali","kpk","Flase" }

In [ ]:
s.

In [72]:
s.add("mango")

In [73]:
s.

{1, 889, 'Flase', 'ali', 'kpk', 'mango'}